<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<button class='btn btn-primary'><%= link_to'Home', tasks_path, :style =>'color: white;'%></button>

<button class='btn btn-primary'><%= link_to'Edit', edit_task_path,:style =>'color: white;' %></button>

